@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-Manrope: Manrope, sans-serif;
}

body {
  color: white;
}
